@import url('https://fonts.googleapis.com/css2? family= Gantari:wght@300;500 & family= Pacifico & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
.container{
    height: 100vh;
    display: flex;
}
.info{
    width: 350px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info-personal{
    margin-bottom: 30px;
}
.info-personal .foto{
    display: block;
    margin: auto;
    
}
.info-personal span{
    font-size: 20px;
    color: #fff;
}
.info-personal a{
    font-size: 16px;
    color: #8a8a8a;
}
nav ul{
    list-style: none;
}
nav ul li{
    margin: 15px 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color: #ffffff;
}
.seleccionado {
    color: #ffffff;
}
.portada{
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url('imagenes/fondo.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        text-align: center;

}
.portada h1{
    font-size: 68px;
    color: rgb(255, 255, 255);
}
.portada h1 .rojo{
    color: #f02400;
}
.portada p{
    font-size: 32px;
    color: #fff;
}





























